<!DOCTYPE html>
<html lang="en">
<head>
  <title>全屏</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <meta name="format-detection" content="telephone=no">

  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>
  <div class="container">
    <button onclick="goBack()">返回</button>
    <video src="" controls autoplay id="fullVideo"></video>
  </div>
  <script>
    (()=>{
      var url = location.search;
      console.log("url",url,url.split("?url="));
      if (url.indexOf("?") != -1) {
        var str = url.split("?url=")[1];
        str = '../'+str
        document.getElementById('fullVideo').src = str;
      }
    })()
    //返回
    const goBack = ()=>{
      window.history.back();
      // window.history.go(-1);
    }
  </script>
</body>
</html>