<!DOCTYPE html>
<html lang="en">
<head>
  <title>首页</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico"> -->
  <!-- <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="../styles/reset.css"> -->
  <!-- <link rel="stylesheet" href="../styles/index.css"> -->
</head>
<body>
  <div class="container" id="hot-container">

  </div>
  <div class='ajax_loading'></div>
</body>
</html>

<!-- <img class="loading_gif" src="../assets/loading.gif" alt="">加载中... -->
<!--     <section class="hot-section">
      <div class="video-content">
        <video src="../assets/paino.mp4" poster="../assets/poster.png"></video>
        <div class="video-controls">
          <img class="controls-volume" src="../assets/volume.svg" alt="">
          <span class="controls-time">2.30'</span>
        </div>
      </div>
      <div class="video-info">
        <p class="info-title">标题</p>
        <p class="info-other">
          <span class="info-name">张三</span>
          <span class="info-playCounts">12次播放</span>
          <span class="info-publishTime">1分钟以内</span>
        </p>
      </div>
    </section>
    <section class="hot-section">
      <div class="video-content">
        <video src="../assets/paino.mp4" poster="../assets/poster.png"></video>
        <div class="video-controls">
          <img class="controls-volume" src="../assets/volume.svg" alt="">
          <span class="controls-time">2.30'</span>
        </div>
      </div>
      <div class="video-info">
        <p class="info-title">标题</p>
        <p class="info-other">
          <span class="info-name">张三</span>
          <span class="info-playCounts">12次播放</span>
          <span class="info-publishTime">1分钟以内</span>
        </p>
      </div>
    </section>
    <section class="hot-section">
      <div class="video-content">
        <video src="../assets/paino.mp4" poster="../assets/poster.png"></video>
        <div class="video-controls">
          <img class="controls-volume" src="../assets/volume.svg" alt="">
          <span class="controls-time">2.30'</span>
        </div>
      </div>
      <div class="video-info">
        <p class="info-title">标题</p>
        <p class="info-other">
          <span class="info-name">张三</span>
          <span class="info-playCounts">12次播放</span>
          <span class="info-publishTime">1分钟以内</span>
        </p>
      </div>
    </section> -->
    <!-- <div class="video-content">
      <video id="my-video" class="video-js" preload="auto" poster="../assets/poster.png" data-setup="{}">
        <source src="../assets/paino.mp4" type='video/mp4'>
        <source src="../assets/paino.mp4" type='video/mp4'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div> -->
    <!-- <div id="version" style="border:2px solid black; background:yellow">app version info</div> -->
    <!-- <div id="result" style="border:2px solid red; color:red;">未触发事件！</div> -->
    <!-- <script src="http://vjs.zencdn.net/6.6.3/video.js"></script> -->