<!DOCTYPE html>
<html lang="en">
<head>
  <title>首页</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <meta name="format-detection" content="telephone=no">

  <link rel="icon" type="image/png" href="../assets/favicon.png">
  <!-- <link rel="stylesheet" href="../styles/reset.css"> -->
  <!-- <link rel="stylesheet" href="../styles/index.css"> -->
</head>
<body>
  <div class="container">
    <section class="hot-section">
      <div class="video-content">
        <video src="../assets/paino.mp4" poster="../assets/poster.png"></video>
        <div class="video-controls">
          <img class="controls-volume" src="../assets/volume.svg" alt="">
          <span class="controls-time">2.30'</span>
        </div>
      </div>
      <div class="video-info">
        <p class="info-title">标题</p>
        <p class="info-other">
          <span class="info-name">张三</span>
          <span class="info-playCounts">12次播放</span>
          <span class="info-publishTime">1分钟以内</span>
        </p>
      </div>
    </section>
    <section class="hot-section">
      <div class="video-content">
        <video src="../assets/paino.mp4" poster="../assets/poster.png"></video>
        <div class="video-controls">
          <img class="controls-volume" src="../assets/volume.svg" alt="">
          <span class="controls-time">2.30'</span>
        </div>
      </div>
      <div class="video-info">
        <p class="info-title">标题</p>
        <p class="info-other">
          <span class="info-name">张三</span>
          <span class="info-playCounts">12次播放</span>
          <span class="info-publishTime">1分钟以内</span>
        </p>
      </div>
    </section>
  </div>
</body>
</html>