.container {
    margin: 0 auto;
    /*width: 100%;*/
    max-width: 1024px;
    /*margin-bottom: 0.6rem;*/
}

#sd,
#ud {
    margin-top: 0;
    width: 100%;
}

#sd1,
#sd2,
#ud1,
#ud2 {
    width: 100%;
    height: 0.7rem;
    background: #DADADA;
    display: none;
}

#sd1,
#ud2 {
    height: 0.2rem;
}

#sd1>p,
#sd2>p,
#ud1>p,
#ud2>p {
    margin: 0.2rem auto;
    padding-top: 0.08rem;
    text-align: center;
    font-size: 0.14rem;
    color: #F8B62B;
}

.ajax_loading {
    width: 100%;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.14rem;
    background: #DADADA;
    color: #F8B62B;
    display: none;
    /*position:fixed;*/
    /*bottom:0;*/
}

.loading_gif {
    margin-right: 0.1rem;
    width: 0.18rem;
    height: 0.18rem;
    display: inline-block;
    /*vertical-align: top;*/
}

.hot-section {
    margin-top: 0.15rem;
    background: #fff;
    overflow: hidden;
}

.hot-section .video-content {
    position: relative;
    margin-bottom: -0.06rem;
    /*width: 100%;*/
}

.video-content>video {
    width: 100%;
    height: 2.11rem;
    object-fit: cover;
    /*fill 自动填充*/
}

.video-content .video-controls {
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    padding: 0 0.1rem;
    overflow: hidden;
    /*display: none;*/
}

.video-controls .volume_icon {
    /*color: #999;*/
    /*width: 0.18rem;*/
    /*height: 0.18rem;*/
}

.video-controls .controls-time {
    float: right;
    color: #999;
    font-size: 0.13rem;
    /*letter-spacing: -0.48px;*/
    /*text-shadow: 0 2px 4px ;*/
}

.video-info {
    background: #fff;
    padding: 0 0.1rem 0.1rem 0.1rem;
}

.video-info .info-title {
    font-size: 0.15rem;
    margin: 0.05rem 0;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.video-info .info-other {
    font-size: 0.12rem;
    color: #666;
    /*white-space: nowrap;*/
}

.video-info .info-name {
    max-width: 1.05rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-info .info-playCounts {
    display: inline-block;
    vertical-align: middle;
}

.video-info .info-publishTime {
    float: right;
    vertical-align: middle;
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}


/*video::-webkit-media-controls-fullscreen-button {
   display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}
video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}*/